<section class="row">
  <section *ngFor="let team of game.teams" class="col">

    <div *ngIf="!admin" class="card" [ngClass]="{
      'score-neg': team.score < 0,
      'score-plus': team.score > 0,
      'quickest': team.quickest
      }">
      <section class="team-name">
        {{team.name}}
      </section>
      <section class="team-score">
        {{team.score}} €
      </section>
    </div>

    <div *ngIf="admin" class="card" [ngClass]="{
      'score-neg': team.score < 0,
      'score-plus': team.score > 0,
      'quickest': team.quickest
      }">
      <section>
        {{team.name}} <span [ngClass]="{'team-pressed': team.timePressed > 0}">{{team.timePressed}}</span>
      </section>
      <section>
        <strong>{{team.score}} €</strong>
      </section>
      <section>
        <input type="number" [(ngModel)]="currentAmount">
        <button class="admin-play" (click)="getPlayer('plus').play(); plus(team)">Right</button>
        <button class="admin-stop" (click)="getPlayer('minus').play(); minus(team)">Wrong</button>
        <button class="admin-winner" (click)="toggleWinner(team)">Winner</button>
      </section>
    </div>
    <section *ngIf="team.winner"
             class="open-question open-winner">
      Võitja:<br/>
      {{team.name}} <br/>
      {{team.score}} €
    </section>
  </section>
</section>
