<div class="row">
  <div *ngFor="let team of game.teams" class="col">

    <div *ngIf="!admin" class="card" [ngClass]="{
      'score-neg': team.score < 0,
      'score-plus': team.score > 0,
      'quickest': team.quickest
      }">
      <div class="team-name">
        {{team.name}}
      </div>
      <div class="team-score">
        {{team.score}} €
      </div>
    </div>

    <div *ngIf="admin" class="card" [ngClass]="{
      'score-neg': team.score < 0,
      'score-plus': team.score > 0,
      'quickest': team.quickest
      }">
      <div>
        {{team.name}} <span [ngClass]="{'team-pressed': team.timePressed > 0}">{{team.timePressed}}</span>
      </div>
      <div>
        <strong>{{team.score}} €</strong>
      </div>
      <div>
        <input type="number" [(ngModel)]="currentAmount">
        <button class="admin-play" (click)="play('plus'); plus(team)">Right</button>
        <button class="admin-stop" (click)="play('minus'); minus(team)">Wrong</button>
        <button class="admin-winner" (click)="toggleWinner(team)">Winner</button>
      </div>
    </div>
    <div *ngIf="team.winner"
             class="open-question open-winner">
      Võitja:<br/>
      {{team.name}} <br/>
      {{team.score}} €
    </div>
  </div>
</div>
