<div class="flip-box">
  <div class="flip-box-inner" [ngClass]="{'flip-box-inner-rotate': isOpened()}">
    <div class="flip-box-front">
      <app-card>
        <div *ngIf="answer.displayNumber" class="number">{{answer.displayNumber}}</div>
      </app-card>
    </div>
    <div class="flip-box-back">
      <app-card>
        <div class="row answer-block">
          <div class="col answer" style="flex: 3">{{answer.answer}}</div>
          <div class="col amount">{{answer.amount}}</div>
        </div>
      </app-card>
    </div>
  </div>
</div>
