.flip-box {
  width: 100%;
  height: 100%;
  perspective: 2500px;
  /*transform: scale(0.98);*/
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.55s;
  transform-style: preserve-3d;
}

.flip-box-inner-rotate {
  transform: rotateX(-180deg);
}

.flip-box-front,
.flip-box-back,
.flip-box-side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(3em);
}

.flip-box-back {
  transform: rotateX(180deg) translateZ(3em);
}

.flip-box-side {
  transform: rotateX(90deg) translateZ(3em);
  height: 6em;
}

.number {
  font-size: 5em;
  font-weight: bolder;
  color: #50B750;
  background: #056839;
  padding: 0.2em 0.4em;
  border-radius: 10em;
  width: 0.8em;
}

.answer {
  font-size: 4em;
  font-weight: bold;
  color: #ffffff;
  justify-content: center;
  background: #056839;
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
}

.amount {
  background: #05321c;
  font-size: 4em;
  font-weight: normal;
  color: #50B750;
  justify-content: center;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.answer-block {
  width: 100%;
}
