<section class="row" *ngIf="!!activeRound">
  <section *ngFor="let category of activeRound.categories" class="col">
    <section *ngFor="let question of category.questions" class="col">
      <div class="card" *ngIf="!admin" [ngClass]="{answered: isStateAnswered(question)}">
        <section *ngIf="isStateSilver(question)" class="open-question silver">
          Hõbevillak
        </section>
        <section *ngIf="isStateOpen(question)" class="open-question">
          <section *ngIf="!isWithPicture(question)">{{question.question}}</section>
          <img *ngIf="isWithPicture(question)" src="{{question.pictureUri}}">
        </section>
        <section *ngIf="isStateClosed(question)"
                 class="game-card-amount">
          <section *ngIf="question.amount > 0">{{question.amount}}</section>
        </section>
        <section *ngIf="isStateAnswered(question)"></section>
      </div>

      <div class="card" *ngIf="admin"
           [ngClass]="{
           silver: question.isSilver,
           hidden: isStateAnswered(question),
           'admin-card-open': isStateOpen(question) || isStateSilver(question)
           }">
        <section class="admin-card-amount">
          <section>
            {{question.amount}}
            <button *ngIf="question.isSilver && isStateClosed(question)"
                    (click)="getPlayer('silver').play(); showSilver(question)">Show silver
            </button>
            <span *ngIf="!isWithSound(question)">
              <button *ngIf="isStateClosed(question) || isStateSilver(question)"
                      (click)="show(question)">Show
              </button>
            </span>
            <span *ngIf="isWithSound(question)">
              <button *ngIf="isStateClosed(question) || isStateSilver(question)"
                      (click)="show(question); getPlayer('sound_' + question.id).play()">Show
              </button>
              <button (click)="getPlayer('sound_' + question.id).play()">►</button>
              <button (click)="getPlayer('sound_' + question.id).pause()">■</button>
            </span>

            <button *ngIf="!isStateAnswered(question)"
                    (click)="setAnswered(question)">Answered
            </button>
            <button *ngIf="isStateAnswered(question)" (click)="reset(question)">Reset</button>
          </section>
        </section>
        <section>
          <p>
            Question: <strong>{{!!question.pictureUri ? 'Picture: ' : ''}}{{question.question}}</strong>
          </p>
          <p>
            Answer: <strong>{{question.answer}}</strong>
          </p>
        </section>
        <audio *ngIf="isWithSound(question)" id="player_sound_{{question.id}}" src="../{{question.sound}}"></audio>
      </div>
    </section>

  </section>
</section>
