<div class="row" *ngIf="!!activeRound">
  <div *ngFor="let category of activeRound.categories" class="col">
    <div *ngFor="let question of category.questions" class="col">
      <div class="card" *ngIf="!admin" [ngClass]="{answered: isStateAnswered(question)}">
        <div *ngIf="isStateSilver(question)" class="open-question silver">
          Hõbevillak
        </div>
        <div *ngIf="isStateOpen(question)" class="open-question">
          <div *ngIf="!isWithPicture(question)">{{question.question}}</div>
          <img *ngIf="isWithPicture(question)" src="{{question.pictureUri}}">
        </div>
        <div *ngIf="isStateClosed(question)"
                 class="game-card-amount">
          <div *ngIf="question.amount > 0">{{question.amount}}</div>
        </div>
        <div *ngIf="isStateAnswered(question)"></div>
      </div>

      <div class="card" *ngIf="admin"
           [ngClass]="{
           silver: question.silver,
           hidden: isStateAnswered(question),
           'admin-card-open': isStateOpen(question) || isStateSilver(question)
           }">
        <div class="admin-card-amount">
          <div>
            {{question.amount}}
            <button *ngIf="question.silver && isStateClosed(question)"
                    (click)="getPlayer('silver').play(); showSilver(question)">Show silver
            </button>
            <span *ngIf="!isWithSound(question)">
              <button *ngIf="isStateClosed(question) || isStateSilver(question)"
                      (click)="show(question)">Show
              </button>
            </span>
            <span *ngIf="isWithSound(question)">
              <button *ngIf="isStateClosed(question) || isStateSilver(question)"
                      (click)="show(question)">Show
              </button>
              <button (click)="getPlayer('sound_' + question.id).play()">►</button>
              <button (click)="getPlayer('sound_' + question.id).pause()">■</button>
            </span>

            <button *ngIf="!isStateAnswered(question)"
                    (click)="setAnswered(question)">Answered
            </button>
            <button *ngIf="isStateAnswered(question)" (click)="reset(question)">Reset</button>
          </div>
        </div>
        <div>
          <p>
            Question: <strong>{{!!question.pictureUri ? 'Picture: ' : ''}}{{question.question}}</strong>
          </p>
          <p>
            Answer: <strong>{{question.answer}}</strong>
          </p>
        </div>
        <audio *ngIf="isWithSound(question)" id="player_sound_{{question.id}}" src="{{question.soundUri}}"></audio>
      </div>
    </div>

  </div>
</div>
