<div style="height: 10%; display: flex">
  <div class="row">
    <div *ngFor="let round of game.rounds" class="col">
      <div class="card"
           [ngClass]="{hidden: !round.active}">
        <div>
          Round: {{round.id}}
          <button *ngIf="!round.active"
                  (click)="setActiveRound(round.id)">Set active
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div>
          <button class="admin-play" (click)="getPlayer('intro').play()">♫ Intro ►</button>
          <button class="admin-stop" (click)="stop('intro', '../../../assets/sounds/Jeopardy Intro.mp3')">■</button>
          <button class="admin-play" (click)="getPlayer('think').play()">♫ Thinking ►</button>
          <button class="admin-stop" (click)="stop('think', '../../../assets/sounds/think.mp3')">■</button>
        </div>
        <div>
          <button (click)="restartGame()">Restart game</button>
          <button (click)="getPlayer('plus').play();">♫ ✓</button>
          <button (click)="getPlayer('minus').play();">♫ x</button>
          <button (click)="resetButton()">Reset buttons</button>
          <button (click)="getPlayer('ding').play(); showQuickest()">Show quickest</button>
        </div>
      </div>
    </div>
  </div>
</div>
