<app-admin-actions [game]="game"></app-admin-actions>
<app-question [admin]="true"
              [game]="game"
              style="height: 10%; display: flex"></app-question>
<app-game-board [admin]="true"
                [game]="game"
                style="height: 70%; display: flex"></app-game-board>
<app-team [admin]="true"
          [game]="game"
          style="height: 10%; display: flex"></app-team>
<audio *ngFor="let question of audioQuestions"
       id="player_sound_{{question.id}}"
       src="{{question.soundUri}}"></audio>
