<div class="row" *ngIf="!!activeRound">
  <div *ngFor="let category of activeRound.categories" class="col">
    <div class="card" *ngIf="!admin">
      <div>
        <div *ngIf="isShowCategoryName(category)"
                 class="category-title">
          {{category.name}}
        </div>
      </div>
    </div>
    <div class="card" *ngIf="admin"
         [ngClass]="{hidden: !isShowCategoryName(category)}">
      <div>
        <div class="category-title">
          {{category.name}}
          <button *ngIf="!isShowCategoryName(category)" (click)="showName(category)">Show</button>
          <button *ngIf="isShowCategoryName(category)" (click)="hideName(category)">Hide</button>
        </div>
      </div>
    </div>
  </div>
</div>
