<app-scores style="height: 15%; display: flex" [game]="game"></app-scores>
<app-game-board style="height: 70%; display: flex" [game]="game"></app-game-board>
<app-bottom style="height: 15%; display: flex" [game]="game"></app-bottom>

<audio muted="muted" id="player_roosid_theme" src="../../../../assets/sounds/roosid/roosid_theme.mp3"></audio>
<audio muted="muted" id="player_roosid_correct" src="../../../../assets/sounds/roosid/roosid_correct.mp3"></audio>
<audio muted="muted" id="player_roosid_wrong" src="../../../../assets/sounds/roosid/roosid_wrong.mp3"></audio>
<audio muted="muted" id="player_roosid_answer_reveal" src="../../../../assets/sounds/roosid/roosid_answer_reveal.mp3"></audio>
<audio muted="muted" id="player_roosid_try_again" src="../../../../assets/sounds/roosid/roosid_try_again.mp3"></audio>
<audio muted="muted" id="player_roosid_short_theme" src="../../../../assets/sounds/roosid/roosid_short_theme.mp3"></audio>
