<div [ngStyle]="{
height: blockHeights.buffer + '%',
display: 'flex'
}" ></div>
<app-scores [ngStyle]="{
height: blockHeights.score + '%',
display: 'flex'
}" [game]="game"></app-scores>
<app-game-board [ngStyle]="{
height: blockHeights.board + '%',
display: 'flex'
}"  [game]="game"></app-game-board>
<app-bottom [ngStyle]="{
height: blockHeights.bottom + '%',
display: 'flex'
}"  [game]="game"></app-bottom>

<audio muted="muted" id="player_roosid_theme" src="../../../../assets/sounds/roosid/roosid_theme.mp3"></audio>
<audio muted="muted" id="player_roosid_correct" src="../../../../assets/sounds/roosid/roosid_correct.mp3"></audio>
<audio muted="muted" id="player_roosid_wrong" src="../../../../assets/sounds/roosid/roosid_wrong.wav"></audio>
<audio muted="muted" id="player_roosid_answer_reveal"
       src="../../../../assets/sounds/roosid/roosid_answer_reveal.mp3"></audio>
<audio muted="muted" id="player_roosid_try_again" src="../../../../assets/sounds/roosid/roosid_try_again.mp3"></audio>
<audio muted="muted" id="player_roosid_round_winner"
       src="../../../../assets/sounds/roosid/roosid_round_winner.mp3"></audio>
