.flip-box {
  width: 100%;
  height: 100%;
  perspective: 2500px;
  transform: scale(0.96);
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-box-inner-rotate {
  transform: rotateX(-90deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(5em);
}

.flip-box-back {
  transform: rotateX(90deg) translateZ(5em);
}

.score-panel-box {
  font-size: 3.5em;
  color: #ffffff;
  justify-content: center;
}
