<div *ngIf="!isSynced()">
  <span class="card game-button category-title sync-buttons click" (click)="sync()">
    <span>Sync buttons</span>
    <br/>
    <span>To sync buttons, press all the sync buttons simultaneously</span>
  </span>
</div>

<div *ngIf="isSynced() && !isShowButton()">
  <div class="row">
    <div class="col">
      <div class="card category-title click"
           *ngFor="let team of teams"
           (click)="selectTeam(team)"
           [ngClass]="{selected: isTeamSelected() && team.id === selectedTeam.id}"
      >{{team.name}}</div>
      <div class="card category-title select-team click"
           (click)="onValiClicked()">
        Select
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSynced() && isShowButton()">
  <span class="card game-button category-title click"
        (click)="answer()"
        [ngClass]="{answered: selectedTeam.havePressed}">
    <span>{{selectedTeam.name}}</span>
    <br/>
    <span>Tahan vastata</span>
  </span>
</div>
