<div class="row">
  <div class="col">
    <app-team-card [value]="leftScore?.toString()"
                   [colored]="isTeamWinner(leftTeam)"
    ></app-team-card>
  </div>
  <div class="col" style="flex: 2">
    <app-team-card [value]="leftTeam?.name"
                   [colored]="isTeamWinner(leftTeam)"
    ></app-team-card>
  </div>
  <div class="col">
    <app-team-card [value]="currentRoundScore?.toString()"></app-team-card>
  </div>
  <div class="col" style="flex: 2">
    <app-team-card [value]="rightTeam?.name"
                   [colored]="isTeamWinner(rightTeam)"></app-team-card>
  </div>
  <div class="col">
    <app-team-card [value]="rightScore?.toString()"
                   [colored]="isTeamWinner(rightTeam)"></app-team-card>
  </div>
</div>
