<div class="row">
  <div class="col">
    <app-card [value]="leftScore ? leftScore.toString() : ''"></app-card>
  </div>
  <div class="col" style="flex: 2">
    <app-team-card [teamName]="leftTeamName"></app-team-card>
  </div>
  <div class="col">
    <app-card [value]="currentRoundScore ? currentRoundScore.toString() : ''"></app-card>
  </div>
  <div class="col" style="flex: 2">
    <app-team-card [teamName]="rightTeamName"></app-team-card>
  </div>
  <div class="col">
    <app-card [value]="rightScore ? rightScore.toString() : ''"></app-card>
  </div>
</div>
