<div class="row">
  <div class="col">
    <app-card [value]="leftScore !== undefined? leftScore.toString() : ''"></app-card>
  </div>
  <div class="col">
    <app-card></app-card>
  </div>
  <div class="col">
    <app-card [value]="currentRoundScore !== undefined ? currentRoundScore.toString() : ''"></app-card>
  </div>
  <div class="col">
    <app-card></app-card>
  </div>
  <div class="col">
    <app-card [value]="rightScore !== undefined ? rightScore.toString() : ''"></app-card>
  </div>
</div>
