<div class="row">
  <div class="col">
    <app-card></app-card>
  </div>
  <ng-container>
    <div class="col" style="flex: 3">
      <app-answer-card [answer]="columnAnswers[0]"></app-answer-card>
      <app-answer-card [answer]="columnAnswers[1]"></app-answer-card>
      <app-answer-card [answer]="columnAnswers[2]"></app-answer-card>
    </div>
    <div class="col" style="flex: 3">
      <app-answer-card [answer]="columnAnswers[3]"></app-answer-card>
      <app-answer-card [answer]="columnAnswers[4]"></app-answer-card>
      <app-answer-card [answer]="columnAnswers[5]"></app-answer-card>
    </div>
  </ng-container>
  <div class="col">
    <app-card></app-card>
  </div>
</div>
