<div>
  <button class="admin-play" (click)="playIntro()">♫ Intro ►</button>
  <button class="admin-stop" (click)="stopIntro()">♫ Intro ■</button>
  <button class="admin-stop" (click)="restartGame()">Restart game</button>
</div>
<button class="admin-stop top-bar" (click)="addCross()">X</button>
<div>
  <h2>Settings</h2>
  <table *ngIf="game.settings">
    <tbody>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="2"></th>
    </tr>
    <tr>
      <td>Buffer size</td>
      <td>
        {{game.settings.bufferSize}}
      </td>
      <td>
        <button (click)="changeBuffer(-1)">▲</button>
      </td>
      <td>
        <button (click)="changeBuffer(1)">▼</button>
      </td>
    </tr>
    <tr>
      <td>Board zoom</td>
      <td>
        {{game.settings.boardZoom}}%
      </td>
      <td>
        <button (click)="changeZoom(5)">▲</button>
      </td>
      <td>
        <button (click)="changeZoom(-5)">▼</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <h2>Questions</h2>
  <table>
    <tbody>
    <tr>
      <th>Question</th>
      <th>X</th>
      <th>Answering</th>
      <th>Winner</th>
    </tr>
    <tr [ngClass]="{inactive: !round.active}" *ngFor="let round of getRounds(game)">
      <td>
        <ng-container *ngIf="isActiveRoundButtonVisible(round.id) else question">
          <button *ngIf="!round.active" (click)="setActive(round.id)">{{round.question}}</button>
          <button *ngIf="round.active" (click)="setInActive(round.id)">{{round.question}}</button>
        </ng-container>
        <ng-template #question>
          {{round.question}}
        </ng-template>
      </td>
      <td>{{round.multiplayer}} x</td>
      <td>
        <select (ngModelChange)="setTeamAnswering($event)" name="answering"
                [(ngModel)]="round.answeringTeamId">
          <option [value]="-1"></option>
          <option *ngFor="let team of game.teams"
                  value="{{team.id}}">{{team.name}}</option>
        </select>
      </td>
      <td>{{getTeamByTeamId(round.winnerTeamId)?.name}}</td>
    </tr>
    <tr *ngIf="this.game?.fastMoney?.questions?.length" [ngClass]="{inactive: !game?.fastMoney?.active}">
      <td>
        <ng-container *ngIf="isActiveRoundButtonVisible(-1) else question">
          <button *ngIf="!isFastMoneyActive()" (click)="setFastMoneyActive()">Fast Money</button>
          <button *ngIf="isFastMoneyActive()" (click)="setFastMoneyInActive()">Fast Money</button>
        </ng-container>
        <ng-template #question>Fast Money</ng-template>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Teams</h2>
  <table>
    <tbody>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Crosses</th>
    </tr>
    <tr *ngFor="let team of game.teams">
      <td [ngClass]="{'winner-team': isTeamWinner(team.id)}">{{team.name}}</td>
      <td>{{team.score}}</td>
      <td>
        <span>{{getCrosses(team.crossCount)}}</span>
      </td>
      <td>
        <button (click)="resetCross(team.id)">Reset</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="activeRound">
  <h2>Current question</h2>
  <h3>{{activeRound.question}}</h3>
  <table>
    <tbody>
    <tr>
      <th>Number</th>
      <th>Answer</th>
      <th>Amount</th>
    </tr>
    <tr *ngFor="let answer of activeRound.answers"
        [ngClass]="{inactive: isAnswerClosed(answer)}">
      <td>{{answer.displayNumber}}</td>
      <td>{{answer.answer}}</td>
      <td>{{answer.amount}}</td>
      <td>
        <button (click)="toggleAnswer(answer.id)" *ngIf="isAnswerClosed(answer)">Show</button>
        <button (click)="toggleAnswer(answer.id)" *ngIf="isAnswerOpen(answer)">Hide</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>{{activeRound.score}}</td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isFastMoneyActive()">
  <h2>Fast money</h2>
  <table>
    <tbody>
    <tr>
      <th>Question
      </th>
      <th>First
      </th>
    </tr>
    <tr *ngFor="let question of game.fastMoney.questions">
      <td>{{question.question}}</td>
      <td [ngClass]="{hidden: !question.firstPlayer.questionVisible}">
        <input (change)="savePlayerAnswers()" type="text" [(ngModel)]="question.firstPlayer.answer">
        <select (change)="savePlayerAnswers()" name="answers" [(ngModel)]="question.firstPlayer.score">
          <option *ngFor="let answer of question.answers"
                  value="{{answer.score}}">
            {{answer.answer}} --- {{answer.score}}</option>
          <option value="0">0</option>
          <option value="-1">undefined</option>
        </select>
        <button (click)="toggleFastMoneyAnswer(question.firstPlayer.id)">
          {{question.firstPlayer.questionVisible ? 'Hide' : 'Show'}}
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="2">II player</td>
    </tr>
    <tr *ngFor="let question of game.fastMoney.questions">
      <td>{{question.question}}</td>
      <td [ngClass]="{hidden: !question.secondPlayer.questionVisible}">
        <input (change)="savePlayerAnswers()" type="text" [(ngModel)]="question.secondPlayer.answer">
        <select (change)="savePlayerAnswers()" name="answers" [(ngModel)]="question.secondPlayer.score">
          <option *ngFor="let answer of question.answers"
                  value="{{answer.score}}">
            {{answer.answer}} --- {{answer.score}}</option>
          <option value="0">0</option>
          <option value="-1">undefined</option>
        </select>
        <button (click)="toggleFastMoneyAnswer(question.secondPlayer.id)">
          {{question.secondPlayer.questionVisible ? 'Hide' : 'Show'}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
