<div>
  <button class="admin-play" (click)="playIntro()">♫ Intro ►</button>
  <button class="admin-stop" (click)="stopIntro()">♫ Intro ■</button>
  <button class="admin-stop" (click)="restartGame()">Restart game</button>
</div>
<div>
  <h2>Settings</h2>
  <table *ngIf="game.settings">
    <tbody>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="2"></th>
    </tr>
    <tr>
      <td>Buffer size</td>
      <td>
        {{game.settings.bufferSize}}
      </td>
      <td>
        <button (click)="changeBuffer(-1)">▲</button>
      </td>
      <td>
        <button (click)="changeBuffer(1)">▼</button>
      </td>
    </tr>
    <tr>
      <td>Board zoom</td>
      <td>
        {{game.settings.boardZoom}}%
      </td>
      <td>
        <button (click)="changeZoom(5)">▲</button></td>
      <td>
        <button (click)="changeZoom(-5)">▼</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <h2>Questions</h2>
  <table>
    <tbody>
    <tr>
      <th>Question</th>
      <th>X</th>
      <th>Answering</th>
      <th>Winner</th>
    </tr>
    <tr [ngClass]="{inactive: !round.active}" *ngFor="let round of getRounds(game)">
      <td>
        <ng-container *ngIf="isActiveRoundButtonVisible(round.id) else question">
          <button *ngIf="!round.active" (click)="setActive(round.id)">{{round.question}}</button>
          <button *ngIf="round.active" (click)="setInActive(round.id)">{{round.question}}</button>
        </ng-container>
        <ng-template #question>
          {{round.question}}
        </ng-template>
      </td>
      <td>{{round.multiplayer}} x</td>
      <td>
        <button *ngFor="let team of game.teams"
                (click)="setTeamAnswering(team.id)"
                [ngClass]="{'answering': isTeamAnswering(round, team.id)}"
        >{{team.name}}</button>
      </td>
      <td>{{getTeamByTeamId(round.winnerTeamId)?.name}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Teams</h2>
  <table>
    <tbody>
    <tr>
      <th>Name</th>
      <th colspan="2">Score</th>
      <th colspan="2">Crosses</th>
    </tr>
    <tr *ngFor="let team of game.teams">
      <td [ngClass]="{'winner-team': isTeamWinner(team.id)}">{{team.name}}</td>
      <td>{{team.score}}</td>
      <td>
        <button *ngIf="activeRound" (click)="addCurrentToScore(team.id)">Add {{activeRound.scoreToWin}} to score
        </button>
        <button (click)="resetScore(team.id)">Reset</button>
      </td>
      <td>
        <span>{{getCrosses(team.crossCount)}}</span>
      </td>
      <td>
        <button (click)="addCross(team.id)">Add</button>
        <button (click)="resetCross(team.id)">Reset</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="activeRound">
  <h2>Current question</h2>
  <table>
    <tbody>
    <tr>
      <th>Number</th>
      <th>Answer</th>
      <th>Amount</th>
      <th></th>
    </tr>
    <tr *ngFor="let answer of activeRound.answers"
        [ngClass]="{inactive: isAnswerClosed(answer)}">
      <td>{{answer.displayNumber}}</td>
      <td>{{answer.answer}}</td>
      <td>{{answer.amount}}</td>
      <td>
        <button (click)="toggleAnswer(answer.id)" *ngIf="isAnswerClosed(answer)">Show</button>
        <button (click)="toggleAnswer(answer.id)" *ngIf="isAnswerOpen(answer)">Hide</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>{{activeRound.score}}</td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>
</div>

